<!-- views/index.ejs -->
<!doctype html>
<html>
	<head>
		<title>Node Authentication</title>

		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=no; target-densityDpi=device-dpi"/>
		

		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<script>

			if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
				
			}else{
				
			}

			var listid ="<%-list._id%>";

			$( document ).ready(function(){
				$(".participate").click(function(res)
				{
					$(location).attr('href','/list/' + $(this).attr('value'));
				});
				$("#participate_on_match").click(function(res)
				{
					$.post("/crud/list/participate",
					{
						list_id  : listid
					},
					function(data, status)
					{
						console.log(data)
						alert("Data: " + data + "\nStatus: " + status);
					});
				});
				// $.mobile.loadingMessage = false;
				$.mobile.loading().hide();
			})

		</script>

	</head>
	<body>
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		  </div>
		</nav>

		<div class="page-header">
			<h1><%= match_date %></h1>
			<h2><small>Subtext for header</small></h2>
		</div>
		<table class="table table-reflow">
			<thead>
				<tr>
					<th>#</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
					<% for(var i=0; i<list.names.length; i++) { %>
						<tr>
							<th scope="row"><%= i+1 %></th>
								<td>
									<p><%= list.names[i].first_name %></p>
								</td>
								<td>
									<p><%= list.names[i].last_name %></p>
								</td>
								<td>
									<p><%= list.names[i].status %></p>
								</td>
						</tr>
					<% } %>
		  </tbody>
		</table>
		<p class="text-center"><button id="participate_on_match" type="button" class="btn btn-default navbar-btn">Participate</button></p>
	</body>
</html>