<!-- views/index.ejs -->
<!doctype html>
<html>
	<head>
		<title><%= title %></title>

		<% include html/scripts_css %>
		
		<script>

			if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
				
			}else{
				
			}

			$( document ).ready(function(){
				$(".participate").click(function(res)
				{
					$(location).attr('href','/matches/match/' + $(this).attr('value'));
				});

				$('#menu').slicknav();
			})

		</script>
		<style type="text/css">
			body { padding-top: 15px; }
		</style>
	</head>
	<body>
		<% include html/top %>
		
		<div class="jumbotron">
			<div class="page-header">
			        <!-- <div class="btn-group btn-breadcrumb">
			            <a href="#" class="btn btn-primary"><i class="glyphicon glyphicon-home"></i></a>
			            <a href="#" class="btn btn-primary">Snippets</a>
			            <a href="#" class="btn btn-primary">Breadcrumbs</a>
			            <a href="#" class="btn btn-primary">Primary</a>
			        </div> -->
				
					<h3>
						<p class="text-center">
							<title><%= title %></title>
						</p>
					</h3>
				
			</div>
			<div id="loadedContainer">
				<table class="table table-reflow">
					<thead>
						<tr>
							<th>#</th>
							<th>Date</th>
							<th>Time</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
					<%if (lists.length > 0) { %>
						<% for(var i=0; i<lists.length; i++) { %>
							<tr>
								<th scope="row"><%= i+1 %></th>
								<td>
									<p><%= moment(lists[i].list_date,'x').format('DD/MM/YYYY') %></p>
								</td>
								<td>
									<p><%= moment(lists[i].list_date,'x').format('hh:mm') %></p>
								</td>
								<td>
									<%if (lists[i].list_status == 'inactive') { %>
										<button id="participate" value="<%= lists[i]._id %>" type="button" class="btn btn-danger btn-sm participate disabled">Participate</button>
									<% }else{ %>
										<button id="participate" value="<%= lists[i]._id %>" type="button" class="btn btn-primary btn-sm participate">Participate</button>
									<% } %>
								</td>
							</tr>
						<% } %>
					<% }else{ %>
						<tr>
							<th scope="row"><%= 1 %></th>
							<td>
								<p>
									<%= lists.list_date %>
								</p>
							</td>
							<td>
								<%if (lists.list_status == 'inactive') { %>
									<button id="participate" value="<%= lists[i]._id %>" type="button" class="btn btn-danger btn-sm participate disabled">Participate</button>
								<% }else{ %>
									<button id="participate" value="<%= lists[i]._id %>" type="button" class="btn btn-primary btn-sm participate">Participate</button>
								<% } %>
							</td>
						</tr>
					<% } %>

						
				  </tbody>
				</table>
			</div>
		</div>

	</body>
</html>