<!-- views/index.ejs -->
<!doctype html>
<html>
	<head>
		<title>Node Authentication</title>
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=no; target-densityDpi=device-dpi"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

		<script>

			if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
				
			}else{
				
			}

			$( document ).ready(function(){
				$(".participate").click(function(res)
				{
					$(location).attr('href','/list/' + $(this).attr('value'));
				});

				$('#menu').slicknav();
			})

		</script>
	</head>
	<body>
		<table class="table table-reflow">
			<thead>
				<tr>
					<th>#</th>
					<th>Date</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			<%= user.facebook.name %>
			<%if (lists.length > 0) { %>
				<% for(var i=0; i<lists.length; i++) { %>
					<tr>
						<th scope="row"><%= i+1 %></th>
						<td>
							<p><%= lists[i].list_date %></p>
						</td>
						<td>
							<%if (lists[i].list_status == 'inactive') { %>
								<button id="participate" value="<%= lists[i]._id %>" type="button" class="btn btn-danger btn-sm participate disabled">Participate</button>
							<% }else{ %>
								<button id="participate" value="<%= lists[i]._id %>" type="button" class="btn btn-primary btn-sm participate">Participate</button>
							<% } %>
						</td>
					</tr>
				<% } %>
			<% }else{ %>
				<tr>
					<th scope="row"><%= 1 %></th>
					<td>
						<p>
							<%= lists.list_date %>
						</p>
					</td>
					<td>
						<%if (lists.list_status == 'inactive') { %>
							<button id="participate" value="<%= lists[i]._id %>" type="button" class="btn btn-danger btn-sm participate disabled">Participate</button>
						<% }else{ %>
							<button id="participate" value="<%= lists[i]._id %>" type="button" class="btn btn-primary btn-sm participate">Participate</button>
						<% } %>
					</td>
				</tr>
			<% } %>

				
		  </tbody>
		</table>
	</body>
</html>