<!doctype html>
<html>
    <head>
        <title><%= title %></title>

        <% include ../html/scripts_css %>

        <script>
            $(document).ready(function()
            {
                $('.edit').click(function(e)
                {
                    var currentListId = $(this).val();

                    $.ajax({
                        type: 'POST',
                        url: '/matches/edit/' + String(currentListId),
                        data: {},
                        success: success,
                        async:true
                    });

                    function success(e)
                    {
                        $("#loadedContainer").html( e );
                    }
                });
            })
        </script>
        
    </head>
    <body>
        <% include ../html/top %>
        <div class="jumbotron">
            <div class="page-header">
                    <h3>
                        <p class="text-center">
                            <title><%= title %></title>
                        </p>
                    </h3>
                
            </div>

            <% include ../controlpanel/matches_admin_edit_buttons %>

            <div id="loadedContainer">
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <table class="table table-reflow">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>WD</th>
                                    <th>Status</th>
                                    <th>Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%if (lists.length > 0) { %>
                                    <% for(var i=0; i<lists.length; i++) { %>
                                        <tr>
                                            <th scope='row'><%= i+1 %></th>
                                            <td>
                                                <%= moment(lists[i].list_date,'x').format('DD/MM') %>
                                            </td>
                                            <td>
                                                <%= moment(lists[i].list_date,'x').format('HH:mm') %>
                                            </td>
                                            <td>
                                                <%= moment(lists[i].list_date,'x').format('ddd') %>
                                            </td>
                                            <td>
                                                <%= lists[i].list_status %>
                                            </td>
                                            <td>
                                                <a href='/matches/edit/<%= lists[i]._id %>'>
                                                    <button id="participate" value="<%= lists[i]._id %>" type="button" class="btn btn-xs btn-block btn-primary edit">Edit</button>
                                                </a>
                                            </td>
                                        </tr>
                                    <% } %>
                                <% }else{ %>
                                    <tr>
                                        <th scope="row"><%= 1 %></th>
                                        <td>
                                            <p>
                                                <%= lists.list_date %>
                                            </p>
                                        </td>
                                        <td>
                                            <%if (lists.list_status == 'inactive') { %>
                                                <button id="participate" value="<%= lists[i]._id %>" type="button" class="btn btn-danger participate disabled">Participate</button>
                                            <% }else{ %>
                                                <button id="participate" value="<%= lists[i]._id %>" type="button" class="btn btn-primary participate">Participate</button>
                                            <% } %>
                                        </td>
                                    </tr>
                                <% } %>        
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </body>
</html>