<div class="row">
    <div class="col-md-4">
    </div>

    <div class="col-md-4">
		<table class="table table-reflow">
			<thead>
				<tr>
					<th>#</th>
					<th>Date</th>
					<th>Time</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			<%if (lists.length > 0) { %>
				<% for(var i=0; i<lists.length; i++) { %>
					<tr>
						<th scope="row"><%= i+1 %></th>
						<td>
							<p><%= moment(lists[i].list_date,'x').format('DD/MM/YYYY') %></p>
						</td>
						<td>
							<p><%= moment(lists[i].list_date,'x').format('hh:mm') %></p>
						</td>
						<td>
							<%if (lists[i].list_status == 'inactive') { %>
								<a href="matches/match/<%= lists[i]._id %>">
									<button id="participate" value="<%= lists[i]._id %>" type="button" class="btn btn-danger btn-sm participate disabled">Participate</button>
								</a>
							<% }else{ %>
								<a href="matches/match/<%= lists[i]._id %>">
									<button id="participate" value="<%= lists[i]._id %>" type="button" class="btn btn-primary btn-sm participate">Participate</button>
								</a>
							<% } %>
						</td>
					</tr>
				<% } %>
			<% }else{ %>
				<tr>
					<th scope="row"><%= 1 %></th>
					<td>
						<p>
							<%= lists.list_date %>
						</p>
					</td>

					<td>
						<%if (lists.list_status == 'inactive') { %>
							<a href="matches/match/lists[i]._id">
								<button id="participate" value="<%= lists[i]._id %>" type="button" class="btn btn-danger btn-sm participate disabled">Participate</button>
							</a>
						<% }else{ %>
							<a href="matches/match/lists[i]._id">
								<button id="participate" value="<%= lists[i]._id %>" type="button" class="btn btn-primary btn-sm participate">Participate</button>
							</a>
						<% } %>
					</td>
				</tr>
			<% } %>

				
		  </tbody>
		</table>
    </div>
    <div class="col-md-4">
    </div>
   