
    <table class="table table-reflow">
        <thead>
            <tr>
                <th>#</th>
                <th>Date</th>
                <th>Time</th>
                <th>WD</th>
                <th>Status</th>
                <th>Preferential</th>
                <th>All</th>
                <th>Cancel</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <%if (lists.length > 0) { %>
                <% for(var i=0; i<lists.length; i++) { %>
                    <tr>
                        <th scope="row"><%= i+1 %></th>
                        <td>
                            <p><%= moment(lists[i].list_date,'x').format('DD/MM/YYYY') %></p>
                        </td>
                        <td>
                            
                            <p><%= moment(lists[i].list_date,'x').format('h:mm a') %></p>
                        </td>
                        <td>
                            <p><%= moment(lists[i].list_date,'x').format('ddd') %></p>
                        </td>
                        <td>
                            <%= lists[i].list_status %>
                        </td>
                        <td>
                            <button id="participate" value="<%= lists[i]._id %>" type="button" class="btn btn-sm btn-warning btn-sm approve_preferential" action="preferential">Approve</button>
                        </td>
                        <td>
                            <button id="participate" value="<%= lists[i]._id %>" type="button" class="btn btn-sm btn-success btn-sm approve_all" action="active">Approve</button>
                        </td>
                        <td>
                            <button id="participate" value="<%= lists[i]._id %>" type="button" class="btn btn-sm btn-danger btn-sm deactivate"  action="deactivate">Deactivate</button>
                        </td>

                        <td>
                            <button id="participate" value="<%= lists[i]._id %>" type="button" class="btn btn-sm btn-primary btn-sm edit">Edit</button>
                        </td>
                    </tr>
                <% } %>
            <% }else{ %>
                <tr>
                    <th scope="row"><%= 1 %></th>
                    <td>
                        <p>
                            <%= lists.list_date %>
                        </p>
                    </td>
                    <td>
                        <%if (lists.list_status == 'inactive') { %>
                            <button id="participate" value="<%= lists[i]._id %>" type="button" class="btn btn-danger btn-sm participate disabled">Participate</button>
                        <% }else{ %>
                            <button id="participate" value="<%= lists[i]._id %>" type="button" class="btn btn-primary btn-sm participate">Participate</button>
                        <% } %>
                    </td>
                </tr>
            <% } %>        
        </tbody>
    </table>

<script>
    $(document).ready(function(){
        

        $('.edit').click(function(e)
        {
            var currentListId = $(this).val();

            $.post("/matches/match/edit/" + currentListId,
            {},
            function(data, status)
            {
                $("#loadedContainer").html( data );
            });
        });

        $('button[action]').click(function(e)
        {
            var currentAction = $(this).attr('action');
            var currentListId = $(this).val();

            $.post("/matches/match/edit/status",
            {
                list_id     : currentListId,
                list_status : currentAction
            },
            function(data, status)
            {
                console.log('aaaa' + data);
                $.post("/matches/views/list", function(data)
                {
                    $("#loadedContainer").html( data );
                });

            });
        });

    })
</script>